*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#id {
    background-color: blue;
    color: #fff;
    padding: 20px;
}

div > p{
background-color: red;
color: #fff;
padding: 20px;
}

a:active{
    background-color: tomato;
}